@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.quicksand {
	font-family: "Quicksand", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}


/* Shared section END */

:root{
	--clr-orange:#eb3b00;
	--clr-royalblue: #01ACFD;
	--clr-lightgreen:#93b500;
	--clr-purple:#d500ff;
	--clr-black:#000000;
	--clr-sayan:#00d5ff;
	--clr-lightorange:#c59180;
	--clr-white:#ffffff;
	--clr-gray:#e8e6e6;
	--clr-lightgray:#b6b6b6;
	--clr-darkgray:#928c8c;

	/* it should be a unique gradiant color */
	--clr-hover-bg:#2cff24;        
	--clr-hover-text: #fff;
	--clr-hover-bg: linear-gradient(to right, #7b4397 0%, #dc2430 51%, #7b4397 100%);


	--radius: 10px;
	--padding:8px;

	
}

.dev-border{
	border: dotted 3px red;
}

body{
	margin: 0;
	padding: 0;
	font-family: quicksand;
}

header, main{
	width: 90%;
	margin: 0 auto;
}

.flex{
	display: flex;
	
}

.btn{
	margin: 10px;
	
		text-align: center;
		text-transform: uppercase;
		transition: 0.5s;
		background-size: 200% auto;
		color: white;
		box-shadow: 0 0 20px #eee;
		padding: var(--padding);
		border-radius: var(--radius);
		border: none;
		cursor: pointer;
			background-color: var(--clr-darkgray);
		box-shadow: 2px 5px 10px gray;
	a{
		text-decoration: none;
		color: var(--clr-white);
	}
}


.btn:hover{
	background-image: var(--clr-hover-bg);
	background-position: right center;
	color: var(--clr-hover-text);
	a{
		color: var(--clr-hover-text);
	}
}


.btn-orange{
	background-color: var(--clr-orange);
	width: 100px;
	font-weight: 600;
	font-size: 16px;
}

.btn-black{
	background-color: var(--clr-black);
	width: 150px;
	font-weight: 600;
	font-size: 16px;
}

.hide{
	display: none;
}
.show-block{
	display: block;
}

.show-inline{
	display: inline-block;
}

.section-default {
	margin-top: 10px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
}

.section-caption{
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	margin: 20px;
}
/* ----------Shared section END---------------------------------*/

/* Nav Section START */
.nav{
	justify-content: space-between;
	align-items: center;
	padding: var(--padding);

	.brand-name{
		text-transform: uppercase;
}

ul> li{
	list-style: none;
	margin-right: 20px;
}

a{
	text-decoration: none;
}
.tab-home{
	color: var(--clr-orange);
}
.tab-about{
	color: var(--clr-royalblue);
}

.tab-facilities{
	color: var(--clr-sayan);
}

.tab-admission{
	color: var(--clr-purple);
}
}
/* ----------Nav section END---------------------------------*/


/* Banner Section Start  */
.banner{
	justify-content: space-between;
	gap: 50px;

	.banner-caption{
		font-size: 3rem;
		font-weight: 600;
		color: var(--clr-black);
	}
	.Empowering{
		color: var(--clr-orange);
	}
	.towards{
		color: var(--clr-royalblue);
	}

	.banner-description{
		/* text-align: justify; */
		color: var(--clr-darkgray);
		margin-bottom: 30px;
	}

}
/* ----------Banner section END---------------------------------*/


/* Curriculum Section  START  */
.curriculum{
	flex-direction: column;
	background-image: url('assets/bg.png');
	}

.card-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 30px;
	}

.card {
	border-radius: 1rem;
	text-align: center;
	padding: 2rem;
	box-shadow: 0 0 20px #eee;
}

.card-caption {
	font-size: 1.5rem;
	font-weight: 800;
	line-height: 30px;
	color: #202020;
}

.card-description {
	color: #808080;
}
.btn-card {
	border: none;
	background: transparent;
	color: #64C8FF;
}
.btn-card a {
	text-decoration: none;
}
/* --------------------Curriculum Section  END----------------------------  */







/* ===============================================================
----------------Responsive START
=============================================================== */

@media screen and (max-width:576px) {

	/* #menu-icon{
		display: block;
	} */
	 .tabs{
		display: none;
	 }
	 #tab-contact{
		display: none;
	 }

	#menu-icon
	{
		display: block;
	}

	.banner{
		flex-direction: column-reverse;
		gap: 10px;
	}

	.banner-img img
	 {
		width: 100%;
	}

	.banner-content,
	.banner-description{
		text-align: center;
	}

	.banner-description{
		text-align: center;
	}


.curriculum .card-wrapper{
	grid-template-columns: 1fr;
}


}

/* ---------------Responsive END---------------------------------------- */
