.btn-grad {
	background-image: linear-gradient(to right, #7b4397 0%, #dc2430 51%, #7b4397 100%)
}

.btn-grad {
	margin: 10px;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	display: block;
}

.btn-grad:hover {
	background-position: right center;
	/* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}


.cta-btn {
	position: relative;
	display: inline-block;
	margin: 20px 0 0 20px;
	color: #fff;
	box-shadow: 2px 5px 10px gray;
	font-size: 21px;
	border-radius: 30px;
	overflow: hidden;
	padding: 12px 21px;
	font-family: Montserrat;
	transition: box-shadow.3s ease-in-out;
	text-decoration: none;
}

/* These are the two backgrounds, absolutely positioned to cover. */
.cta-btn::before,
.cta-btn::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-image: linear-gradient(to right, #2ab3ff, #ff2d00);
	border-radius: 30px;
	z-index: -1;
}

.cta-btn::after {
	opacity: 0;
	background-image: linear-gradient(to right, #FF2A67, #FF5D3A);
	transition: opacity.3s ease-in-out;
}

/* On hover, transtiion the shadow of the anchor, and fade in the after element to show the new background. */
.cta-btn:hover {
	box-shadow: 4px 5px 27px 4px rgba(255, 45, 45, 0.85);
}

.cta-btn:hover::after {
	opacity: 1;
}